body {
    background-color: #b8a8d7;

}

a {
    color: white;
}

a:active {
    color: black;
}

a:visited {
    color: white
}

a:hover {
    color: #b19cda
}

.nav {
    background-color: #b19cda;


}

.card {
    color: pink;
    background-color: #af9bd7;
    border-radius: 5px;
    align-items: center;
}



.container {
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}