.main-container {
    display: flex;
    background-color: lightgray;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    margin-left: 0px;
    margin-right: 0px;
}

.item {
    border: 2px;
    border-radius: 10px;
    background-color: gray;
    width: 200px;
    margin-left: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3PX;
    margin-left: 5px;
}